# Salin ke .env untuk tes lokal. JANGAN commit .env.
DISCORD_BOT_TOKEN=MTM5NzI4MTMyODA3MTk2Njg1Mw.GXXWU6
DISCORD_CHANNEL_ID=1554485710981959690
DISCORD_GUILD_ID=785904914902941737
VIP_USER_ID=785879395176284181"
NOTIFY_SECRET=python -c "import secrets; print(secrets.token_urlsafe(32))"
